In [2]:
import pandas as pd
import sklearn
from sklearn import datasets, model_selection, tree, ensemble, metrics

In [6]:
train_data = pd.read_csv("train.csv")
train_data.head()

,Activity,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,D1767,D1768,D1769,D1770,D1771,D1772,D1773,D1774,D1775,D1776
0,1,0.000000,0.497009,0.10,0.0,0.132956,0.678031,0.273166,0.585445,0.743663,...,0,0,0,0,0,0,0,0,0,0
1,1,0.366667,0.606291,0.05,0.0,0.111209,0.803455,0.106105,0.411754,0.836582,...,1,1,1,1,0,1,0,0,1,0
2,1,0.033300,0.480124,0.00,0.0,0.209791,0.610350,0.356453,0.517720,0.679051,...,0,0,0,0,0,0,0,0,0,0
3,1,0.000000,0.538825,0.00,0.5,0.196344,0.724230,0.235606,0.288764,0.805110,...,0,0,0,0,0,0,0,0,0,0
4,0,0.100000,0.517794,0.00,0.0,0.494734,0.781422,0.154361,0.303809,0.812646,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X_train_labels = train_data.Activity
X_train = train_data.loc[:, train_data.columns != 'Activity']

In [12]:
X_test = pd.read_csv("test.csv")

In [20]:
rfc = ensemble.RandomForestClassifier()
rfc.fit(X_train, X_train_labels)

RandomForestClassifier()

In [25]:
pred = rfc.predict_proba(X_test)[:, 1]

In [27]:
submission = pd.DataFrame({'PredictedProbability': pred})

In [31]:
submission.to_csv('submission.csv', index=True)